



:root{
    --Primarycolour: hsl(199, 100%, 33%);
    --SecondaryColour: hsl(178, 85%, 43%);
    --gradientColour: linear-gradient(to right, hsl(187
    ,85%, 43%), hsl(199, 100%, 33%));
    --whiteColour: hsl(0, 0%, 100%);
    --blackColour: hsl(201, 33%, 16%);
    --textColour: hsl(240, 4%, 36%);
    --whiteColourDeam:hsl(0, 0%, 93%);
    --grayText: rgb(190, 190, 190);
    --inputColour: rgb(239, 239, 239);
    --bodyColour: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
   }

   .header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--whiteColourDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo{
        color: var(--blackColour);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--Primarycolour);
            transform: translateY(5px);

        }

    }

    @media screen and (max-width: 768px){
        .navBar{
            position: absolute;
            background: var(--whiteColourDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: 6rem;
            left: 50%;
            padding: 1rem;
            transform:translate(-50%) ;
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;
            
            .navLists{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;


                .navItem{
                    padding: .5rem 0;

                    .navLink{
                        color: var(--textColour);
                        font-size: 9rem;
                        font-weight: 600;
                        &:hover{
                            color: var(--Primarycolour);
                        }
                    }
                }

                .btn{
                    margin-top: 1rem;

                    a{
                        font-weight: 600;
                        color:var(--whiteColour);

                    }
                }

            }

            .closeNavBar .icon{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--Primarycolour);
                &:hover{
                    color: var(--SecondaryColour);
                }
            }

        }
    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--Primarycolour);
           
        }
        &:hover.icon{
            color: var(--SecondaryColour);
        }
    }

    
}